* {
    bg-col:           #22122fE6; /* Tím tối trong suốt */
    fg-col:           #d2abff;   /* Tím chữ */
    fg-selected:      #000000;   /* Chữ đen khi chọn */

    background-color: transparent;
    font: "JetBrainsMono Nerd Font 25";
}

window {
    width:            500px;
    height:           480px; 
    border:           2px;
    border-color:         @fg-col;
    border-radius:    15px;
    background-color: @bg-col;
    location:         center;     /* Nhảy ra giữa màn hình */
    anchor:           center;
    x-offset:         0;
    y-offset:         0;
}

mainbox {
    padding:          20px;
    children:         [ listview ]; /* Bỏ inputbar (thanh search) */
}

listview {
    columns:          1;
    lines:            5;        
    spacing:          0px;
    cycle:            true;
    dynamic:          true;
    layout:           vertical;
    fixed-height:     true;
}

element {
    padding:          21px 0px;
    border-radius:    10px;
    cursor:           pointer;
}

element-text {
    background-color: inherit;
    text-color:       @fg-col;
    vertical-align:   0.5;
    padding: 0px 10px;
}

/* Ép màu khi được chọn */
element selected {
    background-color: @fg-col;
    text-color:       @fg-selected;
}

element-text selected {
    text-color:       @fg-selected;
}
