* {
    bg-col:           #22122fE6;
    fg-col:           #d2abff;   
    fg-selected:      #000000;   

    background-color: transparent;
    font:             "JetBrainsMono Nerd Font 14";
}

window {
    height:           570px;     
    width:            700px;     
    border:           2px;
    border-color:     @fg-col;
    border-radius:    16px;
    background-color: @bg-col;
}

mainbox {
    padding:          10px;      
    children:         [ inputbar, message, listview ];
}

inputbar {
    border:           1px;
    border-radius:    12px;      
    border-color:     @fg-col;
    margin:           0px 0px 8px; 
    padding:          6px 12px;
    background-color: #190e22E6;
    children:         [ entry ];
}

textbox {
    text-color:       #ffffff;
    padding:          5px 10px;  
}

entry {
    text-color:       @fg-col;
    placeholder:      "Search images...";
    placeholder-color: #6e5a85;
}

listview {
    columns:          1;
    lines:            5;         
    fixed-height:     true;      
    dynamic:          true;
    scrollbar:        true;
    spacing:          4px;       
}

scrollbar {
    width:            4px;
    border:           0;
    handle-width:     4px;
    handle-color:     @fg-col;
    background-color: transparent;
}

element {
    padding:          4px 8px;   
    border-radius:    8px;
    text-color:       @fg-col;
}

element normal.normal, element alternate.normal {
    background-color: transparent;
    text-color:       @fg-col;
}

element selected.normal, element selected.active {
    background-color: @fg-col;
    text-color:       @fg-selected;
}

element-text {
    background-color: inherit;
    text-color:       inherit;
    vertical-align:   0.5;       
}

element-icon {
    size:             4.5em;     
    margin:           0 12px 0 0;
    vertical-align:   0.5;       
}
