@define-color primary1 #d8adff;
@define-color background1 #22122f;
@define-color good #32df91;
@define-color warning #ffc35e;
@define-color critical #ff6671;

* {
  font-family: "JetBrainsMono Nerd Font Propo";
  margin: 0px 0px;
  border: none;
  padding: 0px 0px;
  background-color: transparent;
}

window#waybar {
  background-color: transparent;
  color: #ffffff;
}

#custom-launcher {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 10px;
  margin-right: 5px;
}


#workspaces {
  background-color: @background1;
  border-radius: 10px;
  padding: 3px 2px;
  border: 1px solid @primary1;
}


#workspaces button {
  background-color: transparent;
  font-size: medium;
  font-weight: bold;
  transition: all 250ms ease-in-out;
  color: #ffffff;
  border-radius: 7px;
  min-height: 0px;
  min-width: 24px;
  margin: 0px 2px;
}


#workspaces button.focused,
#workspaces button.active {
  background: linear-gradient(90deg, #83bfff, @primary1);
  color: #000000;
  transition: all 250ms ease-in-out;
  min-width: 55px;
  font-weight: bolder;
}
#workspaces button.special {
  margin-left: 8px;
}

#workspaces button.special.active,
#workspaces button.special.focused {
  background: linear-gradient(90deg, #ff95b7, @primary1);
  min-width:45px;
}
#date-time {
  background-color: @background1;
  border-radius: 10px;
  padding: 3px 45px;
  border: 1px solid @primary1;
  font-weight: bolder;
}

#clock.date {
  font-weight: bolder;
  font-size: medium;
}

#clock.time {
  color: black;
  background-color: @primary1;
  border-radius: 6px;
  margin-right: 15px;
  padding: 0px 10px;
  font-weight: bolder;
  font-size: medium;
}

#tray {
  padding: 0 20px;
  background-color: @background1;
  border-radius: 10px;
  border: 1px solid @primary1;
  font-size: x-small;
}

#cpu,
#memory {
  font-size: small;
}

#cpu.warning, 
#memory.warning {
    color: @warning; 
}
#cpu.critical, 
#memory.critical {
    color: @critical;
}
#system {
  padding: 0px 10px;
  border-radius: 8px;
  background-color: @background1;
  border: 1px solid @primary1;
}

#battery {
  font-weight: bold;
  color: @good;
  background: transparent;
  font-size: medium;
}

#battery.charging,
#battery.plugged,
#battery.good {
  color: @good;
}

#battery.warning {
  color: @warning;
}

/* #battery.critical { */
#battery.critical:not(.charging) {
  color: @critical;
}

#network.disconnected,
#network.disabled {
  color: @critical
}

#network.linked {
  color: @warning;
}


#custom-power {
  font-size: 20px;
  margin-left: 5px;
  margin-right: 10px;
}

#power-profiles-daemon {
  margin-left: 10px;
  font-weight: bold;
  font-size: medium;
}

#pw {
  background-color: @background1;
  border: 1px solid @primary1;
  border-radius: 10px;
  padding: 0 15px;
}
#network-bluetooth-audio {
  border: 1px solid @primary1;
  background-color: @background1;
  border-radius: 10px;
  padding: 0px 15px;
}

#bluetooth {
  font-size: large;
  margin: 0px 15px;
}

#pulseaudio {
  font-size: medium;
  font-weight: bold;
}
